body {
    background-color: rgb(179, 13, 230);
}

table {
    width: 80%;
    margin: 40px auto;
    background: rgb(14, 216, 189);
}

table.list {
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even),
table.list thread>tr {
    background-color: rgb(209, 166, 23);
}

input[type="text"],
input[type="mobNumber"],
input[type="number"] {
    width: 91%;
    padding: 12px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(218, 196, 125);
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    background: #bff092;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: #4b99d8;
}

input[type="reset"]:hover {
    background: #4b99d8;
}

button {
    background: #c67ce4;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #f38620;
}