html,
input {
    font-family: sans-serif;
}

body {
    background-color: rgb(156, 148, 226);
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: rgb(71, 157, 255);
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 14px;
}

form {
    margin-top: 50px;
}

div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"],
input[type="reset"] {
    background: #e61236;
    padding: 6px 8px;
    margin: 11px 0 8px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

label {
    text-align: right;
    width: 30%;
    margin-right: 2%;
}

input[type="submit"]:hover {
    background: #02721a;
}

input[type="reset"]:hover {
    background: #02721a;
}

input {
    flex: auto;
}

error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
}